img{
    width: 100px;
    height: 100px;
}
i{
    font-size: 45px;
    color: #4c5055;
}
i:hover{
    color: black;
}
td, th, input{
  text-align: center;
}
td{
    vertical-align: middle;
    font-size: 20px;
}
.count{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.deleteModal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    button{
        margin-right: 5px;
        width: 130px;
        height: 50px;
    }
}
@media screen and (max-width: 1020px) and (min-width: 760px){
    td{
        font-size: 18px;
    }
}
@media screen and (max-width: 770px) and (min-width: 500px){
    .container{
        margin: 10px;
    }
    td{
        font-size: 16px;
    }
    img{
        width: 70px;
        height: 70px;
    }
    i{
        font-size: 35px;
    }
    h4{
        font-size: 24px;
    }
}